/* #header{
    padding: 30px;
    background-color: rgb(87, 86, 86);
    color: white;
}
#body{
    padding: 30px; 
    background-color: rgb(194, 189, 189);
    height: 80vh;
    
    
}
.landing{
    padding: 40px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    height: auto;
    
} */

/* footer */
#footer{
    text-align: center;
    padding: 20px;
    
}